# {{ profile.name }}

{{ profile.phone_number }} | <{{ profile.email }}>


## WORK EXPERIENCE
{% for we in work_experience %}
### {{ we.title }}

**{{ we.company_name }}**

*{{ we.location }}*

{{ we.start_date }} - {{ we.end_date }}
{% for c in we.contributions %}
- {{ c }}{% endfor %}
{% endfor %}

## EDUCATION
{% for e in education %}
### {{ e.degree.program }} in {{ e.degree.major }}

{% if e.degree.minor %}*Minor in {{ e.degree.minor }}*{% endif %}
{% if e.degree.emphasis %}*Emphasis in {{ e.degree.emphasis }}*{% endif %}

**{{ e.institution }}** - *{{ e.location }}*

{{ e.start_date }} - {{ e.end_date }}

{% if e.notable_coursework %}**Notable Coursework**: {% for ncw in e.notable_coursework %}{{ ncw }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endif %}
{% if e.involvement %}{% for i in e.involvement %}{{ i.organization }}: {% for l in i.levels %}{{ l.title }} from {{ l.start_date }} to {{ l.end_date }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endfor %}{% endif %}
GPA: {{ e.gpa }}
{% endfor %}

## TECHNICAL KNOWLEDGE
{% for tk in technical_knowledge %}
### {{ tk.category }}

{% for p in tk.proficiencies %}- {{ p }}
{% endfor %}{% endfor %}

## PROJECTS
{% for p in projects %}
### {{ p.title }}

{{ p.description }}
{% endfor %}
